option_settings:
  aws:elasticbeanstalk:application:environment:
    ENV: production
    SERVER_HOST: 0.0.0.0
    SERVER_PORT: 5000
  
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.main:app
  
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static/

packages:
  yum:
    git: []
    postgresql-devel: []
    python3-devel: [] 